.ht_master tr td {
    background-color: #F00;
}
.handsontable th {
    background-color: #fff31e;
}
.ht_master tr:nth-of-type(odd) > td {
    background-color: #d87cff;
}

/* Every even row */
.ht_master tr:nth-of-type(even) > td {
    background-color: #69b7ff;
}
