<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/hot-table/hot-table.html">


<dom-module id="contacts-table">
    <template>
        <hot-table width="500" height="300" context-menu datarows="[[contacts]]" afterUpdate="_afterChange"  >
            <hot-column width="30" read-only value="id" header="ID"></hot-column>
            <hot-column width="200" read-only value="firstName" header="First Name"></hot-column>
            <hot-column width="200" read-only value="lastName" header="Last Name"></hot-column>

        </hot-table>
    </template>
    <script>
    class ContactsTable extends Polymer.Element {
        static get is() { return 'contacts-table'; }
    }

    customElements.define(ContactsTable.is, ContactsTable);
    </script>
</dom-module>
