<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/hot-table/hot-table.html">


<dom-module id="contacts-table">
    <template>
        <hot-table width="500" height="300" context-menu datarows="[[contacts]]" afterUpdate="_afterChange"  >
            <hot-column width="30" read-only value="id" header="ID"></hot-column>
            <hot-column width="200" value="firstName" header="First Name"></hot-column>
            <hot-column width="200" value="lastName" header="Last Name"></hot-column>

        </hot-table>
    </template>
    <script>
    class ContactsTable extends Polymer.Element {
        static get is() { return 'contacts-table'; }
            _afterChange(change, source) {
                console.log(change);
                console.log(source);
            }
        _itemClicked(event) {
            const tr = event.currentTarget;
            const previouslySelected = document.getElementsByClassName('selected-row');
            let unselect = false;
            if (previouslySelected != undefined && previouslySelected.length == 1) {
                unselect = (previouslySelected[0].id == tr.id);
                previouslySelected[0].className = '';
            }

            let selectedId = null;
            if (!unselect) {
                tr.className = 'selected-row';
                selectedId = tr.id;
            }
            this.dispatchEvent(new CustomEvent('row-selection-updated', {detail: selectedId}));
        }
    }

    customElements.define(ContactsTable.is, ContactsTable);
    </script>
</dom-module>
